.dropdown-menu {
    margin-left: -59px;
}

.navbar {
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(270deg, #B24592, #F15F79);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.mob-mode{
    display: none;
}

.custom {
    width: 25%;
}


@media only screen and (max-width: 768px) {
    .navbar{
        display: none;
    }

    .mob-mode{
        overflow-x:hidden;
        display: block;
        background: linear-gradient(270deg, #B24592, #F15F79);
    }

    .fas{
        color: #fff; 
        cursor: pointer; 
    }

    .custom {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        border: none;
        border-radius: 15px;
    }
}