<div class="mob-mode">
    <div class="searchbar-comp pt-2 pb-2">
        <ng-select class="custom" [(ngModel)]="finduser" placeholder="Search user..." (change)="goProfile()">
            <ng-option class="custom-option" *ngFor="let item of users" [value]="item.userid">
                {{item.name}}
            </ng-option>
        </ng-select>
    </div>
    <div class="buttons-deck mt-5 pb-3">
        <div class="row justify-content-around">
            <a class="btn-head" [routerLink]="['/home']" routerLinkActive="router-link-active"> <i class="fas fa-comment-alt fa-2x"></i>
            </a>
            <a class="btn-head" [routerLink]="['/account/' + user.userid]" routerLinkActive="router-link-active"> <i
                    class="fas fa-user fa-2x"></i> </a>
            <a class="btn-head" (click)="logout()"> <i class="fas fa-sign-out-alt fa-2x"></i> </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Pregrid-Social</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ng-select class="custom" [(ngModel)]="finduser" placeholder="Search user..." (change)="goProfile()">
                <ng-option *ngFor="let item of users" [value]="item.userid">
                    {{item.name}}
                </ng-option>
            </ng-select>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/account/' + user.userid]" routerLinkActive="router-link-active">
                        {{user.name}} </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>