.banner{
    padding: 2em;
    background: #fff;
    margin: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-family: 'Roboto', sans-serif;
}

.text-red{
    color: red;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Dosis', sans-serif;
}

input{
    background: #eee;
}

select{
    background: #eee;
}