.container {
    height: 100vh;
}

.banner {
    padding: 2em;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Roboto', sans-serif;
}

.text-red {
    color: red;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

input.ng-touched.ng-valid{
    border: 1px solid green;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Dosis', sans-serif;
}

input {
    background: #eee;
}

select {
    background: #eee;
}

.btn {
    background: linear-gradient(270deg, #B24592, #F15F79);
    outline: none;
    border: none;
}

@media only screen and (max-width: 600px){
    .container{
        padding: 40px;
    }
}