/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #eee;
    min-width: 100%;
}

.swal-button{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: linear-gradient(270deg, #B24592, #F15F79) !important;
    outline: none;
    border: none;
    color: #fff;
}

