<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="post-block">
                <form #f="ngForm">
                    <textarea class="form-control post-area" name="post" placeholder="Enter your status here..." rows="4"
                        [(ngModel)]="post.status"></textarea>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            <div class="post-block">
                <select>
                    <option> Public </option>
                    <option> Private </option>
                </select>
                <button class="btn btn-primary btn-post mt-4" (click)="postStatus(f)"> Post </button>
            </div>
        </div>
    </div>
    <hr>
    <h1 class="text-center"> Posts </h1>
    <div class="row">
        <div class="col-md-8">
            <div class="posts" *ngFor="let item of user_post.reverse()">
                {{ item | json }}
                <div class="card">
                    <h5 class="card-header"> {{item.name}} </h5>
                    <div class="card-body">
                        <p class="card-text"> {{item.status}} </p>
                        <button class="btn btn-primary" (click)="giveLike(item)"> <i class="fas fa-thumbs-up"></i> {{item.like}} </button>
                        <button class="btn btn-danger ml-2" *ngIf="user.userid === item.userid" (click)="removeStatus(item.postid)"> <i class="fas fa-trash"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>