<app-header></app-header>
<div class="container">
    <div class="row scrape">
        <div class="col-md-10">
            <div class="post-block">
                <form #f="ngForm">
                    <textarea class="form-control post-area" name="post" placeholder="Enter your status here..." rows="4"
                        [(ngModel)]="post.status"></textarea>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label class="btn btn-img"> <i class="fas fa-image"></i> &nbsp; Photos
                                <input type="file" class="btn btn-primary" accept="image/*" (change)="uploadImage($event)"
                                    multiple>
                            </label>
                        </div>
                        <div class="col-md-12 mt-2" [hidden]="photosContainer.length === 0">
                            <div *ngFor="let photo of photosContainer"></div>
                            <!-- <button class="btn btn-primary btn-img"> <i class="fas fa-image"></i> Photos </button> -->
                            <div id="photos-container">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            <div class="post-block">
                <select [(ngModel)]="post.post_status">
                    <option value="Public"> Public <i class="fas fa-globe-asia"></i> </option>
                    <option value="Onlyme"> Only me <i class="fas fa-lock"></i> </option>
                </select>
                <button class="btn btn-primary btn-post mt-4" (click)="postStatus(f)"> Post </button>
            </div>
        </div>
    </div>
    <hr>
    <h1 class="text-center header-text"> Posts </h1>
    <div class="row">
        <div class="col-md-6">
            <div class="ph-item mt-5" *ngIf="showPlaceholder">

                <div class="ph-col-2">
                    <div class="ph-avatar"></div>
                </div>

                <div>
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>

                <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                        <div class="ph-col-10 big"></div>
                        <div class="ph-col-2 empty big"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-12"></div>
                    </div>
                </div>

            </div>
            <div class="loader" *ngIf="showLoader">
                <div class="spinner"></div>
            </div>
            <div class="posts" *ngFor="let item of user_post; let i = index;">
                <div class="card">
                    <h5 class="card-head"> <img (error)="item.url = 'assets/images/profile.jpg'" alt="..." src="{{item.url}}"
                            class="img-profile img-responsive mr-2" width="30px" height="30px" (click)="toProfile(item)">
                        {{item.name}}
                        <i class="fas fa-ellipsis-v float-right" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" *ngIf="user.userid !== item.userid"> &nbsp; No actions! </a>
                            <a class="dropdown-item" *ngIf="user.userid === item.userid" (click)="editPost(i, item)">
                                &nbsp; Edit </a>
                            <a class="dropdown-item" *ngIf="user.userid === item.userid" (click)="removeStatus(item.postid)">
                                &nbsp; Delete </a>
                        </div>
                    </h5>
                    <div class="card-body">
                        <p class="card-text" class="hide_edit"> {{item.status}} </p>
                        <div class="edit">
                            <textarea type="text" class="form-control editer" #edit_post [(ngModel)]="currentText"> </textarea>
                            <button class="btn btn-post_edit mt-2" (click)="saveEditedPost(item, edit_post, i)"> Save
                            </button>
                            <button class="btn btn-post_edit ml-2 mt-2" (click)="cancelPost(i)"> Cancel </button> <br>
                        </div>

                        <!-- Image overlay -->


                        <div class="row gallery mt-3">
                            <div class="col-md-6 gallery-col" *ngFor="let image of item.post_images">
                                <img class="img-thumbnail post-img" [src]="image">
                            </div>
                        </div>
                        <button type="button" class="btn btn-like" (click)="giveLike(item)" id="back-color"> <i class="fas fa-thumbs-up"
                                [style.color]="(isLiked(item))?'#3a5998':'black'"></i> {{ getLikes(item) }}
                        </button>
                        <button type="button" class="btn btn-like" (click)="giveUnLike(item)" id="back-color"> <i class="fas fa-thumbs-down"
                                [style.color]="(isUnLiked(item))?'#3a5998':'black'"></i> {{ getUnLikes(item) }}
                        </button>
                        <!-- <button class="btn btn-danger btn-delete ml-2" *ngIf="user.userid === item.userid" (click)="removeStatus(item.postid)">
                            <i class="fas fa-trash"></i> </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="news-section">
                <div class="news-cards">
                    <h2 class="news-header"> News </h2>
                    <hr>
                    <div class="news-card row no-gutters overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                        *ngFor="let blog of news_posts; let img;">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary"> India </strong>
                            <div class="mb-1 text-muted">{{blog.publishedAt}}</div>
                            <p class="card-text mb-auto">{{blog.title}}</p>
                            <a href="{{blog.url}}" class="stretched-link" target="_blank">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{{blog.urlToImage}}" width="250px" height="250px" alt="image" (error)="blog.urlToImage = 'assets/images/notfound.png'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last-post-message">
        <hr class="last-hr">
        <h5 *ngIf="!null_posts"> <i class="fas fa-check fa-right"></i> You catched all posts! </h5>
        <h5 *ngIf="null_posts"> No posts found! </h5>
    </div>
</div>