.container{
    background: #fff;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.post-block{
    margin-top: 5em;
}

.post-area{
    border: 1px solid #eee;
    outline: none;
    background: #eee;
    border-radius: 10px;
}

.header-text{
    color: #3e3e3e;
}

h1{
    font-family: 'Varela Round', sans-serif;
}

select{
    width: 100%;
    height: 40px;
    background: #eee;
    outline: none;
    border: 1px solid #eee;
}

/* buttons */

.btn-post{
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: linear-gradient(270deg,#B24592,#F15F79);
    outline: none;
    border: none;
}

.btn-like{
    background: none;
    border: none;
    outline: none;
}

.btn-delete{
    border: none;
    background: none;
    color: #333;
}

.btn-delete:hover{
    color: red;
}

.last-hr{
    width: 100px;
}

.fa-ellipsis-v:hover{
    color: #eee;
    cursor: pointer;
}

/* card customization */

.posts{
    margin: 30px 10px 10px 10px;
}

.card{
    border-radius: 10px;
    border-radius: 15px;
}

.card:hover{
    box-shadow: 0 11px 20px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
}

.card-head{
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}

.img-profile{
    border-radius: 50%;
    display: inline;
    cursor: pointer;
}

.last-post-message{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

/* news-section */
.news-section{
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
    background: #eee;
}

.news-header{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.news-card{
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
}

