<app-header> </app-header>
<div class="container">
  <div class="pregrid-img">
    <img [src]="user.url" class="img-responsive img-center" width="250px" height="250px" (error)="user.url = 'assets/images/profile.jpg'">
    <button class="btn edit-img" data-toggle="modal" data-target="#exampleModal" [hidden]="!exist_user"> <i class="fas fa-plus fa-2x"></i></button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Image upload</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> Enter URL</p>
            <input class="form-control w-100" #imgurl="ngModel" placeholder="Enter link to image" pattern="/(https?:\/\/.*\.(?:png|jpg))/i
            "
              type="url" [name]="urlimg" [(ngModel)]="urlimg">
            <small *ngIf="imgurl.errors && imgurl.errors.pattern"> Not valid Url! </small>
            <p class="or"><span> OR </span></p>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" (change)="saveImage($event)" accept="image/*">
              <label class="custom-file-label" id="hola" for="customFile"> Choose file </label>
              <p> Size: {{imageSize | number}}KB </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" (click)="save()">Save
              changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pregrid-profile">
    <div class="pregrid-profile-name" id="username">
      <h1> {{user.name}} </h1>
    </div>
    <div class="pregrid-profile-bio">
      <strong> {{ user.bio }} </strong>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="jumbotron pregrid-profile-details">
          <h2> Intro </h2>
          <p> <i class="fas fa-envelope"></i> &nbsp; Email : {{ user.email }} </p>
          <p> <i class="far fa-user"></i> &nbsp; Gender : {{ user.gender }} </p>
          <p> <i class="fas fa-city"></i> &nbsp; City : {{ user.city }} </p>
          <p> <i class="fas fa-calendar-day"></i> &nbsp; Date of Birth : {{ user.dob }} </p>
          <div class="intro">
            <button class="btn btn-intro btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
              aria-expanded="false" aria-controls="multiCollapseExample1" [hidden]="!exist_user"> <i class="fas fa-plus"></i>
              &nbsp; <span *ngIf="user.bio"> Edit Bio </span> <span *ngIf="!user.bio"> Add Bio </span>
            </button>
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card-body btn-popper">
                <input type="text" class="form-control" placeholder="Enter bio..." name="user_bio" [(ngModel)]="user_bio"
                  [value]="user.bio">
                <button type="button" class="btn btn-success mt-2" (click)="saveBio()"> Save </button>
              </div>
            </div><br>
            <button class="btn btn-intro btn-primary mt-2" data-toggle="collapse" href="#multiCollapseExample2" role="button"
              aria-expanded="false" aria-controls="multiCollapseExample2" [hidden]="!exist_user"> <i class="fas fa-plus"></i>
              &nbsp; <span *ngIf="user.dob"> Edit Date of Birth </span> <span *ngIf="!user.dob"> Add Date
                of Birth </span> </button>
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card-body btn-popper">
                <input type="date" class="form-control" name="user_dob" [(ngModel)]="user_dob" [value]="user.dob">
                <button type="button" class="btn btn-success mt-2" (click)="saveDob()"> Save </button>
              </div>
            </div><br>
            <button class="btn btn-intro btn-primary mt-2" data-toggle="collapse" href="#multiCollapseExample3" role="button"
              aria-expanded="false" aria-controls="multiCollapseExample3" [hidden]="!exist_user"> <i class="fas fa-plus"></i>
              &nbsp; <span *ngIf="user.city"> Edit City </span> <span *ngIf="!user.city"> Add City </span>
            </button>
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card-body btn-popper">
                <input type="text" class="form-control" placeholder="Enter city..." name="user_city" [(ngModel)]="user_city"
                  [value]="user.city">
                <button type="button" class="btn btn-success mt-2" (click)="saveCity()"> Save </button>
              </div>
            </div><br>
          </div>
        </div>
      </div>
    </div>
    <div class="pregrid-profile-posts">
      <h2> Posts </h2>
      <hr class="post-line">
      <div class="loader" *ngIf="showSpinner">
        <div class="spinner"></div>
      </div>
      <div class="" *ngIf="noPost"> No post found! </div>
      <div class="post">
        <div class="row">
          <div class="col-md-6">
            <div class="posts" *ngFor="let item of user_post; let i = index">
              <div class="card">
                <h5 class="card-head"> <img [src]="user.url" class="img-profile mr-2" width="30px" height="30px"
                    (error)="user.url = 'assets/images/profile.jpg'">
                  {{user.name}} <i class="fas fa-ellipsis-v float-right" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></i>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="editPost(i, item)"> &nbsp; Edit </a>
                    <a class="dropdown-item" (click)="removeStatus(item.key)"> &nbsp; Delete </a>
                  </div>
                </h5>
                <div class="card-body">
                  <p class="card-text" class="hide_edit"> {{item.value.status}} </p>
                  <div class="edit">
                    <textarea type="text" class="form-control editer" #edit_post> </textarea>
                    <button class="btn btn-post_edit mt-2" (click)="saveEditedPost(item, edit_post, i)"> Save </button>
                    <button class="btn btn-post_edit ml-2 mt-2" (click)="cancelPost(i)"> Cancel </button> <br>
                  </div>
                  <div id="post-image-container" *ngFor="let image of item.value.post_images">
                    <img class="img-thumbnail" [src]="image">
                  </div>
                  <button type="button" class="btn btn-like" (click)="giveLike(item.key)" id="back-color"> <i class="fas fa-thumbs-up"
                      [style.color]="(isLiked(item.value))?'#3a5998':'black'"></i> {{ getLikes(item.value) }}
                  </button>
                  <button type="button" class="btn btn-like" id="back-color"> <i class="fas fa-thumbs-down"></i> {{
                    getUnLikes(item) }}
                  </button>
                  <button class="btn btn-delete ml-2" *ngIf="user.userid === item.value.userid" (click)="removeStatus(item.key)"
                    [hidden]="!exist_user"> </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="photos-section">
              <div class="photos-container" id="stick-top">
                <h2> Photos </h2>
                <hr>
                <div class="photos-col">
                  <img [src]="image" *ngFor="let image of photosContainer">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="last-post-message" *ngIf="!noPost">
      <hr class="last-hr">
      <h5 *ngIf="!null_posts"> <i class="fas fa-check fa-right"></i> You catched all posts! </h5>
      <h5 *ngIf="null_posts"> No posts found! </h5>
    </div>
  </div>
</div>