.container {
    background: #eee;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(250deg, #02AAB0, #00CDAC);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Lato', sans-serif;
}

.pregrid-img {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    z-index: 99;
}

h1 {
    font-family: 'Varela Round', sans-serif;
}

h2 {
    font-family: 'Varela Round', sans-serif;
}

.img-responsive {
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 7px solid #fff;
}

.pregrid-profile {
    margin-top: -140px;
    background: #fff;
    min-height: 100vh;
    min-width: 100%;
    padding-top: 150px;
    text-align: center;
    color: #3e3e3e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-center {
    margin-left: -14px;
}

.pregrid-profile-details {
    text-align: left;
}

.post-line {
    width: 100px;
}

.posts {
    margin: 20px;
}

.card {
    animation: bounceIn 0.5s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: left;
    border-radius: 10px;
    border-radius: 15px;
}


.card-head {
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}

.img-profile {
    border-radius: 50%;
    display: inline;
}

.btn-post {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-like {
    background: none;
    border: none;
    outline: none;
}

.btn-delete {
    border: none;
    background: none;
    color: #333;
}

.btn-delete:hover {
    color: red;
}

.last-hr {
    width: 100px;
}

.fa-ellipsis-v:hover {
    color: #eee;
    cursor: pointer;
}

.intro {
    width: 500px;
}

.intro .collapse {
    background: #fff;
    border-radius: 15px;
}

.edit-img {
    margin-left: -70px;
    margin-top: 200px;
    background: #eee;
    border-radius: 50%;
    outline: none !important;
}

.btn-intro {
    text-align: left;
    width: 200px;
    background: linear-gradient(270deg, #B24592, #F15F79);
    outline: none;
    border: none;
    color: #fff;
    border-radius: 15px;
}

.btn-success {
    border-radius: 15px;
    background: linear-gradient(270deg, #B24592, #F15F79);
    border: none;
    outline: none !important;
}

.btn-post_edit {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: linear-gradient(270deg, #B24592, #F15F79);
    outline: none;
    border: none;
    color: #fff;
}

.btn-danger {
    border-radius: 15px;
    background: linear-gradient(270deg, #B24592, #F15F79);
    border: none;
    outline: none !important;
}

.last-post-message {
    padding-bottom: 40px;
}

.loader {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 5vh;
    width: 5vh;
    border: 6px solid #eee;
    border-top-color: #B24592;
    border-radius: 100%;
    animation: rotation 0.6s infinite linear 0.25s;
    opacity: 0;
}

.fa-edit {
    font-size: 15px;
    background: #eee;
    padding: 10px;
    border-radius: 50%;
}

.or {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 30px 0 20px;
}

.or span {
    background: #fff;
    padding: 0 10px;
}

.dropdown-menu {
    z-index: 999;
    position: absolute;
    margin-left: -143px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    border: 1px solid #F8F9FA;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown-item {
    padding: 10px;
    user-select: none;
}

.dropdown-item:hover {
    border-radius: 8px;
    color: #fff !important;
    background: linear-gradient(270deg, #B24592, #F15F79);
}

.dropdown-menu.show {
    animation: fade 0.5s;
}

.edit {
    display: none;
    animation: bounceIn 0.5s;
}

.photos-block {
    background: #eee;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.sticky {
    position: fixed;
    top: 0px;
    margin-top: 80px;
}

.photos-col {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 10px;
}

.photos-col img {
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

.gallery {
    padding: .5vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.gallery-col {
    flex-grow: 1;
    flex-basis: 125px;
    max-width: 100%;
    flex: auto;
    width: 200px;
    margin: .5vw;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post-img {
    width: 100%;
    height: 100%;
}

.nopost-error{
    font-size: 25px;
    border-radius: 15px;
    color: #3e3e3e;
    margin: 200px;
    padding: 50px;
    background: #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes rotation {
    from {
        opacity: 1;
        transform: rotate(0deg);
    }

    to {
        opacity: 1;
        transform: rotate(359deg);
    }
}

@media only screen and (max-width: 769px) {
    .container {
        overflow-x: hidden;
    }

    .photos-col {
        flex: 100%;
        max-width: 100%;
    }

    .btn-intro {
        width: 100%;
    }

    .intro {
        width: 100%;
    }

    .sticky {
        position: relative;
    }

    .photos-col {
        grid-template-columns: repeat(auto-fill, 150px);
    }
}