.container{
    background: #eee;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(250deg,#02AAB0,#00CDAC);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Lato', sans-serif;
}

.pregrid-img{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    z-index: 99;
}

h1{
    font-family: 'Varela Round', sans-serif;
}

.img-responsive{
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 7px solid #fff;
}

.pregrid-profile{
    margin-top: -140px;
    background: #fff;
    min-height: 100vh;
    min-width: 100%;
    padding-top: 150px;
    text-align: center;
    color: #3e3e3e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pregrid-profile-details{
    text-align: left;
}

.post-line{
    width: 100px;
}

.posts{
    margin: 20px;
}

.card{
    text-align: left;
    border-radius: 10px;
    border-radius: 15px;
}

.card:hover{
    box-shadow: 0 11px 20px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
}

.card-head{
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}

.img-profile{
    border-radius: 50%;
    display: inline;
}

.btn-post{
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-like{
    background: none;
    border: none;
    outline: none;
}

.btn-delete{
    border: none;
    background: none;
    color: #333;
}

.btn-delete:hover{
    color: red;
}

.last-hr{
    width: 100px;
}

.fa-ellipsis-v:hover{
    color: #eee;
    cursor: pointer;
}

.btn{
    background: linear-gradient(270deg,#B24592,#F15F79);
    outline: none;
    border: none;
}

@media only screen and (max-width: 769px){
    .container{
        overflow-x: hidden;
    }
}



